#vs code workspace
html.code-workspace
*workspace
# OS-specific files
.DS_Store
Thumbs.db

# Node.js
node_modules/
package-lock.json
package.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Log files
*.log

# Build output
dist/
build/
out/

# IDE-specific files
.vscode/
.idea/

# macOS Finder metadata
*.swp

#next files
.next/

#sanbox files
*-sandbox